<ng-container *ngIf="basket$ | async as basket">
    <ng-container *ngIf="basket.items.length; else noItems">
        <mat-card>
            <mat-card-title>Cart</mat-card-title>
            <mat-card-content>
                <table mat-table [dataSource]="basket.items">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let item">{{ item.product.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef class="quantity-col">Quantity</th>
                        <td mat-cell *matCellDef="let item" class="quantity-col">
                            <mat-form-field appearance="outline">
                                <mat-select matNativeControl
                                    (selectionChange)="changeQuantity(item.product.sku, $event.value)"
                                    [value]="item.quantity" [placeholder]="item.quantity">
                                    <mat-option *ngFor="let option of quantityOptions" [value]="option">
                                        {{ option }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let item">{{ item.product.price * item.quantity | currency: 'GBP' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let item">
                            <button mat-icon-button (click)="removeItemFromBasket(item.product.sku)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'price', 'delete']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'quantity', 'price', 'delete']"></tr>

                </table>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Discount Code</mat-card-title>
            <mat-card-subtitle>
                If you have a promotional discount or voucher code, please enter it below
            </mat-card-subtitle>
            <form #promoForm="ngForm" (ngSubmit)="applyPromotion(promoForm.value.promoCode)">
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Discount Code</mat-label>
                        <input matInput type="text" name="promoCode" required ngModel>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button type="submit" [disabled]="promoForm.invalid">Apply</button>
                </mat-card-actions>
            </form>
        </mat-card>

        <mat-card>
            <mat-card-title>Order Summary</mat-card-title>
            <mat-card-content>
                <div class="order-details">
                    <div class="title-value">
                        <span class="title">Sub Total:</span>
                        <span class="value">{{ basket.subTotal | currency: 'GBP' }}</span>
                    </div>
                    <div class="title-value">
                        <span class="title">Promotional discount:</span>
                        <span class="value">{{ basket.subTotal - basket.totalPrice | currency: 'GBP' }}</span>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div class="title-value">
                        <span class="title">Basket Total</span>
                        <span class="value">{{ basket.totalPrice | currency: 'GBP' }}</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Checkout</mat-card-title>
            <form [formGroup]="checkoutForm" (ngSubmit)="checkout(checkoutForm.value.cardNumber)">
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Credit Card Number</mat-label>
                        <input matInput type="text" formControlName="cardNumber" required minlength="6">
                    </mat-form-field>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-button [disabled]="checkoutForm.invalid || basket.items.length === 0">Checkout</button>
                </mat-card-actions>
            </form>
        </mat-card>

    </ng-container>
</ng-container>

<ng-template #noItems>
    <div class="warning">You have no items in your basket. View <a routerLink="/product">products</a></div>
</ng-template>