table {
    width: 100%;

    .quantity-col {
        width: 100px;
    
        mat-form-field {
            width: 100px;
        }
    }
}

mat-form-field {
    width: 100%;
}

.order-details {
    mat-divider {
        margin: 5px 0;
    }
}